
body
{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6))
    background-size: cover;
    background-position: center;
    color: #16181b !important;
}
.services
{
    margin: 90px auto;
    text-align: center;
}
h3
{
    font-family: sans-serif;
    letter-spacing: 1px;
}
h3:after
{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px autol;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
/*DEVELOPER: Ali Alhau, IS117-004, Spring 2019 */